* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./juego/img/cursor.png') 16 16, auto; /* Hotspot definido */
}

/* Resto de tu CSS */


.button-54 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.45em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: 3px  black solid;
    box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
    position: relative;
    height: 7vh;
    width: 8vw;
    background-color: #183D3D;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.botones {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre botones */
}

img {
    height: 100%;
    width: 100%;
}

header {
    top: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio */
    align-items: center; /* Alinea verticalmente */
    padding: 2%;
}

.logo a {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}