body{
    margin: 0;
    background-color: #000000;
}

main{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fondo{
    height: 100vh;
    width: 100vw;
    filter: blur(15px);
    z-index: -1;
    position: absolute;
}

#a{
    z-index: 1;
    position: absolute;
}

p{
    margin-bottom: 2.5%;
}

#logo-img {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

#logo-img.show {
    opacity: 1;
}

#jugar{
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    scale: 0.75;
    font-size: 1.8em;
    padding: 1.5%;
    padding-right: 4%;
    padding-left: 4%;
}